.Dev {
    text-align: left;
    padding-top: 1rem;
    width: 80vw;
    margin: auto;
    max-width: 1500px;
}

.dev span{
    background-color: #d7dcfe;
}

.content span {
    font-weight: 700;
}

.content {
    font-size: 18px;
} 

.content a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.content a:hover {
    color: #ebbad5;
}

.app img {
    width: 70vw;
    height: auto;
    margin: 10px 0px 0px 0px;
    min-width: 400px;
    max-width: 800px;
}

.app {
    display: flex;
    justify-content: center;
}
