.intro {
    display: inline-block; 
    text-align: left;
}

.greeting {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 0;
}

.info {
    margin-top: 10px;
    font-size: 20px;
}

.info span {
    text-decoration: underline 4px #bcc1fe;
}