.nav {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.name {
    font-size: 2rem;
}

.nav li.active {
    background-color: #d6d8f6;
    border-radius: 5px;
}

.nav li:hover {
    background-color: #dddfff;
    border-radius: 5px;
}


/* .Nav {
    margin: auto;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin: 30px 50px 0px 50px;
}

.name {
	float: left;
    margin: 0;
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: #d6d8f6;
    
}

.links {
	float: right;
}

.work {
    margin-right: 25px;
    text-decoration: none;
    color: black;
}

.about {
    text-decoration: none;
    color: black;
} */