.Personas {
    text-align: left;
    padding-top: 1rem;
    width: 80vw;
    margin: auto;
    max-width: 1500px;
}

.personas span{
    background-color: #d1ecfc;
}

.content {
    font-size: 18px;
} 
/* 
.two-personas {
    width: 80%;
    height: auto;
} */

.sketch img {
    width: 50vw;
    max-width: 600px;
    min-width: 400px;
    height: auto;
    margin: 15px 0px 0px 0px;
}

.sketch {
    display: flex;
    justify-content: center;
}

.two-personas img {
    width: 65vw;
    height: auto;
    margin: 10px 0px 0px 0px;
    min-width: 400px;
    max-width: 800px;
}

.two-personas {
    display: flex;
    justify-content: center;
}

.storyboard img {
    width: 60vw;
    height: auto;
    margin: 10px 0px 0px 0px;
    min-width: 400px;
    max-width: 600px;
}

.storyboard {
    display: flex;
    justify-content: center;
}