.Personas {
    text-align: left;
    margin-top: 2rem;
}

h1 span{
    background-color: #d1ecfc;
}

.content {
    font-size: 18px;
} 
/* 
.two-personas {
    width: 80%;
    height: auto;
} */

.sketch img {
    width: 50vw;
    max-width: 600px;
    min-width: 400px;
    height: auto;
    margin: 15px 0px 10px 0px;
}

.sketch {
    display: flex;
    justify-content: center;
}

