.list {
    margin: auto;
}

.Project {
    width: 400px;
    position: relative;


}

.Project:hover {
    filter: drop-shadow(-6px 6px 0.25rem black);
    transition: 0.25s;
}


.Project img {
    border-radius: 10px;
    display: block;
    width: 100%;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 700;
}

.overlay:hover {
    opacity: 1;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    justify-content: space-around;
    margin:auto;
}