.Project {
    /* border: 3px solid #B1B2FF;
    border-radius: 10px;
    width: 295px;
    height: 400px;
    position: relative;
    margin: 20px 40px 0px 40px; */
}

.Project img {
    width: 300px;
    border-radius: 10px;
    position: relative;
}

/* .length {
    position: absolute;
    bottom: 0;
    margin: 0px 0px 10px 10px;
    font-size: 16px;
} */

/* .info {
    position: absolute;
    left: 0;
    text-align: left;
    margin: 10px 0px 0px 10px;
}

.name {
    font-size: 18px;
    margin-bottom: 2px;
} */

/* .artist {
    font-size: 16px;
}

.favorite {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0px 10px 10px 0px;
    font-size: 20px;
}

.icon {
    transform: scale(1.5);
    color: #B1B2FF;
}

.icon:hover {
    cursor: pointer;
} */