.App {
  margin: auto;
  max-width: 1500px;
  font-family: Montserrat, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  margin-top: 10px;
}

.container {
  margin: 1rem;
  text-align: center;
}
